doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title DC | about
    link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(rel='stylesheet', type='text/less', href='css/style.less')
    link(rel='stylesheet', type='text/css', href='css/responsive.css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    include includes/_header.jade
    main#about-section
      .container
        .row
          .col-xs-12
            h2 About us
            p
              | We have been approached by few private health insurers to create a solution that would allow them to benchmark it’s products and services against its competitors and industry.<br /> Hence a user friendly solution has been created by DecisionCraft for the health insurers to better serve it’s members.

            p
              | Over a decade of experience in private health industry allowed us to develop this solution in such a way that would address many challenges health insurers face. Our main focus<br /> is to assist health insurers with membership retention and productivity savings. Although this solution will be most useful to membership/call centre department, it can be used<br /> by sales, marketing, product team and as well as other part of the organisation (i.e. finance, actuarial, operations, etc.).

            
            a.btn.btn-default.btn-blue(href="benefits.html") Click here to see how our solution would benefit your organisation        
            
    
    include includes/_footerfixed.jade

    script(src='js/jquery-1.12.0.js')
    script(src='js/bootstrap.js')
    script(src='js/less.js')
    