footer.fixed-btm
	.container
		.row
			.col-xs-12
				ul
					li
						a(href="about.html") about us
					li
						a(href="benefits.html") benefits
					li
						a(href="pricing.html") pricing
					li
						a(href="transfer.html") transfer
					li
						a(href="phiproduct.html") phi product
					li
						a(href="contact.html") contacts
					li
						a(href="disclaimer.html") disclaimer
